@import "vars"
@import "fonts"

body 
    font-size: 16px
    min-width: 320px
    position: relative
    line-height: 1.6
    overflow-x: hidden
    font-family: MyriadSetProText, sans-serif

a
    color: $link
    &:focus, &:hover, &:active
        text-decoration: none
        color: #000000
        border: none

button > span
    color: $link
    &:hover
        text-decoration: none
        
i 
    color: $accent

.nav
    margin-top: 40px
    margin-bottom: 20px    
        
.menu
    margin: 0
    &__item
        margin-right: 10px        

@import "media"
