@import "vars"
@import "fonts"

body 
    font-size: 16px
    min-width: 320px
    position: relative
    line-height: 1.6
    overflow-x: hidden
    font-family: MyriadSetProText, sans-serif

i 
    color: $accent
    &:hover
        color: $link

// reset Bootstrap styles
.btn-default, 
.btn,
.nav>li>a,
.open > a,
.nav>.open>a,
a
    color: $link
    background-color: transparent
    box-shadow: none
    outline: none
    text-decoration: none
    &:active, &:hover, &:active, &:focus
        color: $accent
        background-color: transparent
        box-shadow: none
        outline: none
        text-decoration: none


// Header
.nav
    margin-top: 40px
    margin-bottom: 20px    
        
.menu
    margin: 0
    &__item
        margin-right: 10px

#search
    position: relative
    .form-control
        height: 50px
        padding: 10px 16px
        border: 0            
            radius: 0
        font-size: 13px
        font-style: italic
        box-shadow: rgba(0, 0, 0, 0.06) 0px 4px 35px 0px
        

    .input-group-btn
        &:focus
            outline: none
        .btn
            border: 0
            height: 50px
            &:hover, &:focus
                background-color: transparent  
                outline: none 

.fa-search,
.fa-shopping-cart
    font-size: 29px         

.logo
    margin: auto
    &__img
        margin: auto

       
        

@import "media"
