@import "vars"
@import "fonts"

body 
    font-size: 16px
    min-width: 320px
    position: relative
    line-height: 1.6
    overflow-x: hidden
    font-family: MyriadSetProText, sans-serif

a
    color: $link
    &:focus, &:hover, &:active
        text-decoration: none
        color: #000000
        border: none

button > span
    color: $link
    &:hover
        text-decoration: none
        
i 
    color: $accent

.nav
    margin-top: 40px
    margin-bottom: 20px    
        
.menu
    margin: 0
    &__item
        margin-right: 10px

#search
    position: relative
    .form-control
        height: 50px
        padding: 10px 16px
        border: 0            
            radius: 0
        font-size: 13px
        box-shadow: rgba(0, 0, 0, 0.06) 0px 4px 35px 0px
        

    .input-group-btn
        .btn
            border: 0
        
        

@import "media"
